    @model Demo_Project_MVC.Models.LoginViewModel
    @{
        ViewBag.Title = "User Login";
    }

    <style>
    body {
        background-color: black;
        color: white;
    }

    .container {
        margin-top: 20px;
    }

    .form-container {
        background-color: black;
        padding: 20px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    .form-group label {
        color: white;
    }

    .form-group input, .form-group textarea {
        background-color: black;
        color: white;
        border: 1px solid grey;
    }

    .btn-primary {
        background-color: grey;
        color: white;
    }

    a {
        color: grey;
    }
    </style>

<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="form-container">
            <h1 class="mb-3">User Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-success"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-success"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/">Create Account?</a>
                </div>
            </form>
        </div>
    </div>
</div>

